/templates/darkpan-1.0.0/
/venv/
/static/css/fontawesome-free-5.10.0-web/webfonts/
/static/css/fontawesome-free-5.10.0-web/svgs/
/static/css/fontawesome-free-5.10.0-web/sprites/
/static/css/fontawesome-free-5.10.0-web/metadata/
