{% extends "TopNav.html" %}
{% load static %}
{% block "elementos" %}
<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    {% for a in object_list %}
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            {% if  a.imagen == " " %}
                                      <img class="img-fluid d-block mx-auto" style="height: 250px" src="/media/proyecto/proyecto.jpg" alt="..." />
                                    {% else %}
                                        <img class="img-fluid d-block mx-auto" style="height: 250px" src="/media/{{ a.imagen }}" alt="..." />
                                    {% endif %}
                        <div class="portfolio-caption-heading">{{ a.nombre }}</div>
                        </div>
                    </div>
                    {% endfor %}
            <!-- Widget End -->
{% endblock %}